@import url("./font/web/inter.css");
@import url("./icons/main.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss /typography;
@tailwindcss /aspect-ratio;
@tailwindcss /forms;
html,
body {
  height: 100%;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  min-height: 100vh;
  background-color: #ececf1 !important;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px !important;
  font-weight: 400;
}
.sn-notifications-container .sn-notify {
  padding: 16px !important;
  overflow: hidden;
  border-width: 1px !important;
  border-radius: 9px !important;
  width: 360px !important;
}
.sn-notifications-container .sn-notify-icon {
  margin-bottom: auto !important;
}
.sn-notifications-container .sn-notify-title {
  font-size: 14.5px;
  font-family: "InterVariable", sans-serif;
}
.sn-notifications-container .sn-notify-text {
  margin-top: 4px;
  font-size: 12.5px;
  line-height: 20px;
  opacity: 0.8;
}
.sn-notifications-container .sn-notify-autoclose:before {
  height: 3px !important;
  border: 0px !important;
}
